#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 0;
}
#navbartoggler{
    background-color: lightblue;
    margin-top: 8px;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -8px;
}
#navlist{
    margin-top: 15px;
    margin-bottom: 15px;
}
h1{
    margin-top: 20px;
}
#chicken{
    background-color: gray;
    margin-top: 40px;
}
#beef{
    background-color: gray;
    margin-top: 40px;
}
#sushi{
    background-color: gray;
    margin-top: 40px;
}
h2{
    padding-top: 10px;
}